body { 
  background: hsl(0, 100%, 46%);
  background: radial-gradient(circle, rgba(255, 4, 4, 0.028) 0%, #2e432f 100%);
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
#todocontainer {
  background: rgb(41, 33, 33);
  width: 400px;
  margin: 0 auto;
  border: 2px solid #0033ff;
  padding: 20px;
  color: rgb(150, 112, 112);
  border-radius: 15px;
}
#todocontainer {
  background: rgb(245, 0, 0);
  width: 400px;
  margin: 0 auto;
  border: 2px solid #0033ff;
  padding: 20px;
  color: rgb(78, 105, 30);
  border-radius: 15px;
}
#header {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px; 
}

#inputbox {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 20px;
}

#inputbutton {
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2e60ea;
}

#inputbutton:hover {
  background-color: #9eb7fd; 
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align:left;

}

li {
border: 1px solid white;
border-radius: 5px;
margin-bottom: 10px;
padding: 10px;
margin-top: 10px;
}

.edit-btn, .delete-btn {
  float: right;
  color:crimson;
  cursor: pointer;
  margin: 3px 5px;
  border: none;
  padding: 3px 5px;
  background: none;
} 

.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}